@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    /* background-color: #D8DCD6; */
    background-color: #8F8CE7;
    /* background-color: #DFC5FE; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1rem; */
    /* font-weight: bold; */
    height: calc(100% - 14px);
}
@media(min-width: 1000px) { 
    body {
        font-size: 2rem;
        line-height:2.5rem;
    }  
}
@media(max-width: 999px) { 
    body {
        font-size: 1rem;
        line-height:1.5rem;
    }
}

header {
    text-align: center;
}
/* Footer
############################################################### */
footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* margin-bottom: 10px; */
}

/* HOME PAGE
############################################################### */

.SL-Title {
    text-align: center;
    /* font-size: 50px;
    line-height:60px;*/
    font-family: 'Pacifico', cursive;   
    /* letter-spacing: 3px; */
    margin:0;
    padding:0; 
}

.title-move {
    font-weight: 900;
    font-size: 5em;
  }
  
  .title-move .letter {
    display: inline-block;
    line-height: 1em;
  }

/* .SL-Title h2 {
    font-size: 2.5em;
    padding:0;
} */

.image-blurred img{
    display: flex;
    justify-content: center;
    width: 100%;
    /* flex-basis: 100%; */
    object-fit: cover;
    height: 800px;
    /* height: 600px; */
    /* -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);} */
    /* box-shadow: inset 0px 0px 10px 20px white; */
    /* -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 0px -2px 2px rgba(34,34,34,0.6); */
    /* background: radial-gradient(transparent 20%, white 70%); Set radial-gradient to faded edges */
}

.top-nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #B00149;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.top-nav a:hover {
    color: #fff;
    border-bottom: 2px solid #8246AF;
}

/* MAIN TITLE -- ABOUT PAGE
############################################################### */
.main-title {
    /* padding: 0px 10px; */
    display: flex; 
    background-color: #f1f1f1;
    /* align-items: center; */
    /* flex-direction: column; */
    padding: 20px;
    /* margin:0; */
}

.main-text {
    display: flex; 
    flex-direction: column;
    /* justify-content: space-between;  */
}

.main-text p {
    text-align: justify;
    padding-right: 20px;
}

div.main-title img {
    /* padding: 0px 10px; */
    display: flex;
    object-fit: cover;
    margin-right: auto;
    width: 45%;
}

.SK {
    display: flex;
}
.Aboutdiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#Hobbies-group {
    display: flex;
    flex: wrap;
}

#Hobbies {
    border-radius: 20px;
    /* border: 2px solid #B00149; */
    background-color: #DFC5FE; 
    /* padding: 2px; */
    margin: 5px;
    display: flex;
    line-height: 1rem;
    justify-content: center;
}

@media(min-width: 1000px) { 
    .main-title {
        margin-left: 200px; /* Same as the width of the sidenav */
        width: calc(100% - 200px);
        /* padding: 0px 10px; */
        align-items: center;
    }

    .main-text {
        flex-basis: 60%;
    }

    .main-text h1, h2 {
        line-height:12px;
    }
    

    div.main-title img {
        flex-basis: 40%;
        height: 450px;
    }

    .SK {
        margin-left: 200px; /* Same as the width of the sidenav */
        width: calc(100% - 200px);
        justify-content: space-evenly;
    }
    .skill-text {
        width: 50%;
    }
    
    .coding-skills{
        width: 50%;
        padding-left: 20px;
    } 

    .skillbox {
        margin: 10px 0;
    }
    .skillbox p:nth-child(2) {
        top: -35px;
    }
    .Hobbies-group {
        margin-left: 200px; /* Same as the width of the sidenav */
        width: calc(100% - 200px);
    }

    .Hobbies {
        min-width: 10vw;
        padding: 2px;
    }
}

@media(max-width: 999px) { 

    .main-title {
        /* width: 100%; */
        display: flex; 
        justify-content: center;
        flex-direction: column;
    }

    .main-text {
        /* flex-basis: 60%; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .main-text h1 {
        text-align: center;
        padding:0;

    }
    .main-text h2 {
        text-align: center;
    }

    div.main-title img {
        /* flex-basis: 30%; */
        height: 300px;
        width: 100%;
    }

    .SK {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    /* .skill-text {
        width: 100%;
    } */
    
    .coding-skills{
        width: 100%;
    } 
    #Hobbies-group {
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #Hobbies {
        min-width: 25vw;
    }
}
/* Code icons 
############################################################### */


.skill-text {
    margin-top: 20px;
    display: flex;
    border: 2px solid #DFC5FE;
    text-align: justify;
    padding: 20px;
    /* padding-right: 20px;
    margin: auto; */
}

.coding-skills{
    display: flex;
    flex-direction: column;
    /* margin-left: 60%;
    margin-bottom: 10%; */
    /* transform: translate(-50%,-50%); */
    padding: 20px;
    /* background: #333; */
    box-sizing: border-box;
    /* box-shadow: 0 20px 50px; */
} 
/* h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
} */

.skillbox {
    box-sizing: border-box;
    width: 100%;
}

.skillbox p {
    color: #6241C7;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-family: bold;
    letter-spacing: 1px;
}

.skillbox p:nth-child(2) {
    float: right;
    position: relative;
    top: -33px;
}

.skill {
    background: #FDDC5C;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #8F8CE7;
    border-radius: 2px;
}

.skill_level {
    background: #f1f1f1;
    width: 100%;
    height:10px;
}
/* SIDE BAR
############################################################### */
@media(min-width: 1000px) { 

    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #D8DCD6 ;
        overflow-x: hidden;
        padding-top: 20px;
        text-align: center;
    }

    #sidenav-text
    {
        font-size: 1rem;
        line-height:1.5rem;
        border-bottom: 1px solid #8246AF;
    }

    #sidenav-text h3    {
        font-size: 1.5rem;
        line-height:1.5rem;
    }
    #Profile-sml {
        width: calc(200px - 10px);
    }
    #social-media img {
        width: calc(200px - 180px);
    }

    #social-media {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }
    

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
    }
    
    .sidenav a:hover {
        color: #818181;
    }
}

@media(max-width: 999px) {
    .sidenav {
        display: none;
}
}
  /* SOCIAL MEDIA - SIDE BAR
############################################################### */

div.social-media img {
    /* object-fit: cover; */
    height: 20px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* width: 100%; */
}

/* div.social-media a {
    border: 2px solid #fda103;
    border-radius: 5px;
    padding: 5px;
    color: #fda103;
    text-align: center;
} */


/* FORM - CONTACT PAGE
############################################################### */

@media(min-width: 1000px) { 
    .contact-text {
        margin-left: 200px; /* Same as the width of the sidenav */
        width:calc(100% - 200px);
    }

    form {
        margin-left: 200px; /* Same as the width of the sidenav */
        width:calc(100% - 200px);
    }
}

@media(max-width: 999px) { 
    .contact-text {
        width:100%;
    }
    form {
        width:100%;
    }
}
.contact-text {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-right: auto;
    /* flex-basis: 70%; */
}

  form {
    margin-top: 5%;
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #FDDC5C;
}

.form-item textarea {
    min-height: 100px;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #818181;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #FDDC5C;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    min-width: 200px;
    min-height: 20px;
}

.form-item button:hover {
    border: 2px solid #818181;
    background-color: #818181;
    color: #FFF;
}

.form-item button {
    width: 100px;
    border-radius: 5px;
}

/* PROJECTS
############################################################### */
div.Projects:hover {
    background-color: #B00149;
    color: #fff;
}  

.Projects-title {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* flex-basis: 70%; */
}
div.Projects {
    border: 4px solid #8F8CE7;
    background-color: #fff;
    margin: 5px;   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.Projects img {
    object-fit: fill;
    height: 200px;
    flex-basis: 100%;
    width: 100%;
    /* height: 20%; */
    order: 2;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

.Project-text {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}


@media(max-width: 999px) {
    .Projects-title {
        width: 100%;
    }

    div.Projects {
        flex-basis:100%;
        margin-bottom: 20px;
    }

    #content {
        flex-direction: column;
    }

} 

@media(min-width: 1000px) { 
    .Projects-title {
        margin-left: 200px; /* Same as the width of the sidenav */
        width:calc(100% - 200px);
    }
    
    div.Projects {
        flex-basis: 30%;
    }
    
    #content {
        margin-left: 200px; /* Same as the width of the sidenav */
        width:calc(100% - 200px);
        align-items: center;
        justify-content: center;
        align-content: center;
    }

}   